@model WebServiceMVC_RETO.Models.Cerveza

@{
    ViewData["Title"] = "Editar Cerveza";
}

<h1>Editar Cerveza</h1>

<h4>Cerveza</h4>
<hr />

<form asp-action="Edit">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AlcoholGrades" class="control-label"></label>
        <input asp-for="AlcoholGrades" class="form-control" type="number" step="0.1" />
        <span asp-validation-for="AlcoholGrades" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Company" class="control-label"></label>
        <input asp-for="Company" class="form-control" />
        <span asp-validation-for="Company" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Guardar" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
